@font-face {
    font-family: 'iconfont';  /* project id 1764576 */
    src: url('//at.alicdn.com/t/font_1764576_vd6y6u1ltzi.eot');
    src: url('//at.alicdn.com/t/font_1764576_vd6y6u1ltzi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1764576_vd6y6u1ltzi.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1764576_vd6y6u1ltzi.woff') format('woff'),
    url('//at.alicdn.com/t/font_1764576_vd6y6u1ltzi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1764576_vd6y6u1ltzi.svg#iconfont') format('svg');
  }
  .icon{
      font-family: "iconfont" !important;
      font-size: inherit;
      font-style: normal;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
  }