@font-face {
    font-family: 'iconfont';  /* project id 1764576 */
    src: url('http://at.alicdn.com/t/font_1764576_h31dp3wqbws.eot');
    src: url('http://at.alicdn.com/t/font_1764576_h31dp3wqbws.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_1764576_h31dp3wqbws.woff2') format('woff2'),
    url('http://at.alicdn.com/t/font_1764576_h31dp3wqbws.woff') format('woff'),
    url('http://at.alicdn.com/t/font_1764576_h31dp3wqbws.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_1764576_h31dp3wqbws.svg#iconfont') format('svg');
  }
  .icon{
      font-family: "iconfont" !important;
      font-size: inherit;
      font-style: normal;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
  }